<div class="jumbotron">

  <a class="btn btn-primary" href="#!/cadastro">Cadastro</a>
  <form action="">
    <input type="search" placeholder="pesquisar nome">
    <a class="btn btn-default" type="submit" href="#!/cadastro">Pesquisar</a>
  </form>
  <div class="row">
    
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Casa</th>
          <th scope="col">Porta</th>
          <th scope="col">Quantidade de Portas</th>
        </tr>
      </thead>
      <tbody ng-repeat='casa in vm.casas'>
          <tr ng-repeat='porta in casa.portas'>
            <td><b>{{$index+1}}</b></td>
            <td>{{casa.nome}}</td>
            <td>{{porta.nome}}</td>
            <td>{{porta.qtd}}</td>
            <td><a class="btn btn-danger" href="http://localhost:8080/projeto5/excluir?excluir={{casa.id}}">Excluir</a></td>
            <td><a class="btn btn-warning" href="http://localhost:8080/projeto5/editar?editar={{casa.id}}">Editar</a></td>
        </tr>
      </tbody>
    </table>
    
  </div>

</div>
